Joplin
QDirStat
0ad
Cemu
EOS-greeter.conf
Eqonomize
IVPN
PCSX2
Raspberry Pi
VSCodium
aerc
balenaEtcher
bottom
btop
byobu
chromium
dconf
dolphin-emu
eden
electron-builder.json
featherpad
fltk.org
fontforge
gh
go
google-chrome
htop
joplin-desktop
keepassxc
lazydocker
lazygit
legcord
libreoffice
librewolf
lximage-qt
mozilla
mpc-qt
net.imput.helium
nomacs
octave
pavucontrol-qt
pavucontrol.ini
pulse
qalculate
qBittorrent
qpdfview
qps
qterminal.org
reflector-simple-free-params.txt
retroarch
screengrab
spotdl
strawberry
QtProject.conf
lxqt-mimeapps.list
mimeapps.list
user-dirs.dirs
user-dirs.locale
autostart
spotify-player
vlc
welcome_news_latest_date_file
