QDirStat
0ad
Eqonomize
IVPN
VSCodium
aerc
bottom
btop
dconf
featherpad
fltk.org
fontforge
gh
go
google-chrome
htop
keepassxc
lazydocker
lazygit
libreoffice
lximage-qt
mpc-qt
net.imput.helium
octave
pavucontrol-qt
pulse
qalculate
qpdfview
qps
qterminal.org
screengrab
strawberry
QtProject.conf
lxqt-mimeapps.list
mimeapps.list
user-dirs.dirs
user-dirs.locale
autostart
spotify-player
