Joplin
QDirStat
0ad
EOS-greeter.conf
Eqonomize
IVPN
Raspberry Pi
VSCodium
aerc
bottom
btop
chromium
dconf
featherpad
fltk.org
fontforge
gh
go
google-chrome
htop
joplin-desktop
keepassxc
lazydocker
lazygit
legcord
libreoffice
librewolf
lximage-qt
mozilla
mpc-qt
net.imput.helium
nomacs
octave
pavucontrol-qt
pulse
qalculate
qBittorrent
qpdfview
qps
qterminal.org
screengrab
spotdl
strawberry
QtProject.conf
lxqt-mimeapps.list
mimeapps.list
user-dirs.dirs
user-dirs.locale
autostart
spotify-player
